# Cloud Computing with DevOps Practical
###Cloud Computing With DevOps Practical

## Student Information

| Name | Enrollment Number | Practical Set |
|                                                                   |
| Patel Prinshy | 202504104610103 | Set B |
| Modi Chirag | 202504104610141 | Set A |


## Subject
Cloud Computing with DevOps

#Logos
#University : UTU
<img src="images/UTU.png" width="200" height="200">

##Department : SRIMCA
<img src="images/SRIMCA.png" width="200" height="200">

##Subject
Cloud Computing with devops

##Practical Overview
This is repository contain practical exercise and assignment Related to cloud computing with DevOps.

##Notes:
Each Practical task is organized separate file.

The 'requirement.txt' file contain all dependencies needed for python Programs

Images and documentation are included to make the README informative and visually clear.










